{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autocomplete="username" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="_password" required autocomplete="current-password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
